@charset "UTF-8";
/**
 * 
 * @authors Ryant ryante@163.com
 * @date    2016-09-01 23:21:32
 * @version $Id$
 */
.c{clear:both;font-size:0;line-height:0;height:0;visibility:visible;}
.wrap{border:0;padding:0;margin:0 auto;*zoom:1;}
.wrap:after{clear:both;content:"";display:table;}
.article{ background-color: rgb(246, 246, 246);}
.home_news_title{text-align:center;padding-top:55px;}
.home_news_list_inner{ width: 1200px !important;}
.home_news_text{color:#222222;font-size:14px;text-align:center;line-height:30px;margin-top:12px;}
.home_news_list{background-color:#e0f3f6;margin-top:34px;padding-bottom:10px;padding-top:44px;}
.home_news_item{width:364px;height:140px;padding:0 15px;margin-top:20px;margin-bottom:10px;float:left;border:1px solid #666;margin-right:20px;overflow:hidden;position:relative;z-index:2;transition:all .5s;-moz-transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;}
.home_news_item dl{text-align:center;position:absolute;top:0;transition:all .5s;-moz-transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;}
.home_news_item dl dt{background:url(../images/news_ico_time.png) no-repeat center 20px;padding-top:58px;font-size:12px;color:#444444;}
.home_news_item dl dd.t{margin:10px 0;width:334px;height:46px;line-height:46px;overflow:hidden;}
.home_news_item dl dd.t a{color:#000;font-size:18px;text-align:center;}
.home_news_item dl dd.spec{width:334px;overflow:hidden;}
.home_news_item dl dd.spec a{color:#666;font-size:12px;line-height:24px; text-decoration: none;}

.home_news_item:hover{border:1px solid #07A4B7;padding:10px 15px; }
.home_news_item:hover dl{top:-85px;}
.home_news_item:hover dl dd.t a{color:#07A4B7;}
.home_news_item:hover dl dt{}

.btn_news_more{border:1px solid #00bbd3;margin:50px auto;text-align:center;width:120px; ;}
.btn_news_more a{border-radius:0px !important;line-height:24px;color:#00bbd3;font-size:12px;width:120px;height:36px;display:block;transition:all 0.5s;-moz-transition:all 0.5s; /* Firefox 4 */-webkit-transition:all 0.5s; /* Safari and Chrome */-o-transition:all 0.5s; /* Opera */}
.btn_news_more a:hover{background-color:#00bbd3; text-decoration: none;}
.btn_news_more a:hover{color:#fff;}

.category-count span,.category-count span:hover{ padding:2px 8px; cursor: default; color: #000; background-color: #00bbd3; border-color: #00bbd3; color: #fff; }
.category-count .badge{ color: #00bbd3;}
.category-view-more{ margin: 10px auto 0px;}

.latest {margin-top: 20px;}
.latest a{ display: block; width: 100%; padding: 6px 10px; border-color: #00bbd3; background: none;}
.train-grid.train-grid:hover a{ color: #00bbd3;}
.train-grid.train-grid:hover .btn:hover{ color: #fff;}
.latest a:hover{ background-color: #00bbd3; border-color: #00bbd3; color: #fff !important;};
.testimonials-section h2 { text-align: center !important;}
.bread {padding: 0px 15px;}
.brand{ margin: -20px 0px 35px}
.brand a{ margin-right: 30px;}
.page { margin-top: 30px;}
.page nav{ text-align: center;}

.news_seek{border:1px solid #fff;display:inline-block;*display:inline;zoom:1;background:none; float: right}
.news_seek input{border: 0;background: none;color:#fff;width: 0;text-indent: 10px; height: 32px; outline: none}
.news_seek img{margin-right:10px;cursor:pointer; margin-top: -4px;}

.fl{ float: left}
.fr{ float: right}
.news_list{margin: 0 auto;overflow:hidden;}
.news_list li{background: #eee;zoom:1;margin-top: 40px;position: relative; list-style: none;}
.news_list .line{display: block;position: absolute;background: #2eafbb;}
.news_list li:after{content: "";clear: both;display: table;}
.news_time{background: #2eafbb;width: 120px;padding: 18px 20px 40px 0;}
.news_time .day{display: block;font-size: 70px;color: #fff;font-family: "Impact";text-align: right;}
.news_time .year{display: block;color: #fff;text-align: right;line-height: 22px;}
.news_time .author{display: block;color: #fff;text-align: right;line-height: 22px;}
.news_time .type{display: block;text-align: right;background: url("../images/n01.jpg") no-repeat right top;padding-top: 6px;margin-top: 4px;}
.news_time .type a{color: #fff;}
.news_time .type a:hover{ text-decoration: underline;}
.news_cont{width: 980px;margin-right: 20px;}
.news_cont h2{font-size: 20px;font-weight: normal;padding-top: 26px;}
.news_cont h2 a{color: #333;}
.news_cont a:hover{color: #2eafbb;}
.news_cont .demo{line-height: 24px;margin-top: 14px; height: 110px; overflow: hidden;}
.news_cont .demo a{ color: #666666;}
.news_cont .demo a:hover{ text-decoration: none;color: #2eafbb;}
.news_cont .vis{color: #999;line-height: 38px;margin-top: 12px;}
.news_cont .btn_news_more{ float: right; margin-top: -10px; margin-bottom: 0px;}
.news_cont .btn_news_more a:hover{ color: #fff !important}
.news_cont .more{float: right;color: #2eafbb;display: inline-block;border: 1px solid #2eafbb;line-height: 38px;padding: 0 24px;}
.news_more{width: 1200px;margin: 40px auto 80px;text-align: center;}
.news_more a{display: block;font-size: 14px;color: #2eafbb;border: 1px solid #2eafbb;line-height: 38px;}

/*arc_detail*/
.backg_new{background: #f7f7f7;padding: 1px 0 40px;margin-bottom: -40px;}
.news_info{margin: 0 auto;}
.news_box{width: 840px;}
.news_title{border-bottom: 1px solid #eeeeee;margin-top: 40px;padding-bottom: 18px;}
.news_title h2{font-size: 20px;color: #333;font-weight: normal;}
.news_title .sign{color: #999;margin-top: 12px;}
.news_title .label{color: #2eafbb;}
.news_title .mark{padding-right: 20px;}
.news_page{text-align:center;margin-top:16px;}
.news_page a{display:inline-block;font-size:20px;font-weight:200;line-height:38px;width:38px;text-align:center;margin:0 0px 0 10px;color:#999;border:1px solid #999;}
.news_page a:hover{color:#333;border-color:#333;}
.news_box .demo{font-size: 14px;color: #333;line-height: 30px;margin-top: 30px;}
.news_box .notice{font-size: 12px;color: #999;padding-top:20px;clear:both;}
.page_list{border-top: 1px dashed #d3d3d3;margin-top: 16px;padding-top: 10px;margin-bottom: 30px;}
.page_list li{line-height: 24px;color: #999; list-style: none;}
.page_list li a{color: #999;}
.page_list li a:hover{color: #2eafbb;}
.page_list .return{float: right;font-size: 14px;color: #2eafbb;border: 1px solid #2eafbb;line-height: 38px;padding: 0 20px;margin-top: 6px;}
.news_menu{width: 260px;background: #f7f7f7;padding: 30px;margin-top: 40px;}
.news_menu dt{font-size: 20px;color: #333;margin-bottom: 24px;}
.news_menu dd{border-bottom: 1px dashed #cccccc;margin-bottom: 20px;}
.news_menu dd h3{color: #333;font-size: 16px;font-weight: normal;margin-bottom: 10px;}
.news_menu a:hover{color:#2eafbb;}
.news_menu .text{color: #666;line-height: 24px;margin-bottom: 14px;}
.news_menu .text a{ font-size: 13px; text-decoration: none;}
.news_menu .date{color: #999999;line-height: 24px;margin-bottom: 6px; font-size: 12px;}
.page_list .btn_news_more{ float: right; margin-top: 5px; margin-bottom: 0px;}

.about-us{ background-color: #fff; padding: 30px 0px;}
.about-us .help-line{ margin-top: 0px; }
.about-us .help-line h4{ margin-bottom: 20px;}
.about-us .about-grid1{ padding-left: 0px;}


.preview{ float: left; z-index: 1; position: relative;}
/* smallImg */
.smallImg{position:relative; height:60px; margin-top:1px; background-color:#F1F0F0; padding:6px 5px; width:401px; overflow:hidden;float:left;}
.scrollbutton{width:14px; height:50px; overflow:hidden; position:relative; float:left; cursor:pointer; }
.scrollbutton.smallImgUp , .scrollbutton.smallImgUp.disabled{background:url(../images/d_08.png) no-repeat;}
.scrollbutton.smallImgDown , .scrollbutton.smallImgDown.disabled{background:url(../images/d_09.png) no-repeat; margin-left:375px; margin-top:-50px;}

#imageMenu {height:50px; width:360px; overflow:hidden; margin-left:0; float:left;}
#imageMenu li {height:50px; width:60px; overflow:hidden; float:left; text-align:center;}
#imageMenu li img{width:50px; height:50px;cursor:pointer;}
#imageMenu li#onlickImg img, #imageMenu li:hover img{ width:44px; height:44px; border:3px solid #959595;}
/* bigImg */
.bigImg{position:relative; float:left; width:260px; height:260px; overflow:hidden; }
.bigImg #midimg{width:260px; height:260px;}
.bigImg #winSelector{width:235px; height:210px;}
#winSelector{position:absolute; cursor:crosshair; filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; background-color:#000; border:1px solid #fff;}
/* bigView */
#bigView{position:absolute;border: 1px solid #959595; overflow: hidden; z-index:999; top: 0px !important; left: 270px !important}
#bigView img{position:absolute;}

.detail-info{ width: 100%; float: right; margin-bottom:30px;}
.detail-info .widget-content table td{ background-color: #fff !important;}

/* Widgets */
.widget-box {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
}
.widget-box.widget-calendar, .widget-box.widget-chat {
    overflow:hidden !important;
}
.accordion .widget-box {
	margin-top: -2px;
	margin-bottom: 0;
	border-radius: 0;
}
.widget-box.widget-plain {
	background: transparent;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
}

.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}
.widget-title .nav-tabs {
    border-bottom: 0 none;
}
.widget-title .nav-tabs li a {
    border-bottom: medium none !important;
    border-left: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    border-right: 1px solid #DDDDDD;
    border-top: medium none;
    color: #999999;
    margin: 0;
    outline: medium none;
    padding: 9px 10px 8px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a{
    border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
    background-color: transparent !important;
    border-color: #D6D6D6;
    border-width: 0 1px;
    color: #666666;
}
.widget-title .nav-tabs li.active a {
    background-color: #F9F9F9 !important;
    color: #444444;
}
.widget-title span.icon {
	border-right: 1px solid #cdcdcd;
	padding: 9px 10px 7px 11px;
	float: left;
	opacity: .7;
}
.widget-title h5 {
    color: #666666;
	text-shadow: 0 1px 0 #ffffff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}
.widget-title .buttons {
	float: right;
	margin: 8px 10px 0 0;
}
.widget-title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 15px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
	margin-right: 190px;
}

.widget-content {
	padding: 12px 15px;
    border-bottom: 1px solid #cdcdcd;
}
.widget-box.widget-plain .widget-content {
	padding: 12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
    border-bottom: 1px solid #CDCDCD;
}



.bs-callout-info {
    border-left-color: #00bbd3
}

.bs-callout-info h4 {
    color: #00bbd3
}
.bs-callout {
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}


.bs-callout-info {
    border-left-color: #00bbd3
}

.bs-callout-info h4 {
    color: #00bbd3;
    font-size:26px;
}


.box-blue {
    padding: 8px 10px 15px 15px;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#F1F8F9), to(#BCDBE6));
    background-image: -webkit-linear-gradient(top, #F1F8F9, 0%, #BCDBE6, 100%);
    background-image: -moz-linear-gradient(top, #F1F8F9 0%, #BCDBE6 100%);
    background-image: linear-gradient(to bottom, #F1F8F9 0%, #BCDBE6 100%);
    background-color: #F1F8F9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F8F9', endColorstr='#BCDBE6', GradientType=0);
    font-size: 12px;
    border: 1px solid #CBE0E8;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 12px;
}
.box-blue.box-blue-top-rated {
    padding-top: 18px;
}
.box-blue h2 {
    font-size: 14px;
    margin: 0 0 8px 0;
}

table.top_product {
    margin: 0 auto;
}
table.top_product tr{ height: 24px;}
table.top_product td {
    padding-right: 5px;
    font-size: 12px;
}
table.top_product td.char {
    font-weight: bold;
    font-style: italic;
    text-align: right;
}
table.top_product td.value {
    text-align: right;
    width: 60px;
}
table.top_product_list {
    width: 825px;
    border-collapse: collapse;
}
table.top_product_list tr.darker td {
    background-color: #f2f2f2;
}
table.top_product_list td {
    font-size: 13px;
    text-align: right;
    padding: 3px;
    border: 1px solid #CCC;
}
table.top_product_list tr.head td {
    background-color: #555;
    color: #EEE;
    padding: 4px;
    border: 0;
}
table.top_product_list td.product {
    text-align: left;
}
table.top_product_list td.overall {
    background-color: #E4E4E4;
    font-weight: bold;
}
table.top_product_list td.price {
    width: 62px;
}
table.top_product_list tr.head a {
    font-weight: bold;
    color: #84C0EA;
}
.hot-tag{ background-color: #f7f7f7;  padding: 20px;margin-top: 20px; }
.hot-tag h4{border-bottom:2px #6B6B6B solid; line-height: 30px; font-weight: 700; margin-bottom: 10px;}
.relate-tag{ margin-bottom: 20px; padding: 10px;}
.tag-list{ padding: 10px 0px;}
.tag{border:1px solid #00bbd3; padding: 0px 10px; float: left; margin-right: 10px; margin-bottom: 5px; text-align: center;color:#00bbd3; height: 24px; line-height: 24px;transition:all 0.5s;-moz-transition:all 0.5s; /* Firefox 4 */-webkit-transition:all 0.5s; /* Safari and Chrome */-o-transition:all 0.5s; /* Opera */}
.tag:hover{background-color:#00bbd3; text-decoration: none;}
.tag:hover{color:#fff;}

.panel-title > a{ display: block; font-weight: 700}
.brand-list{ margin-bottom: 0px;}
.brand-list th{ width: auto !important; border-bottom:0px !important; background: #77A1B9; color: #fff;}
.brand-list td{ text-align: center; color: #fff; border-top-color:#fff !important; }
.brand-list td.txtLeft{ text-align: left; color: #7D7D7D;}

.pro-price{ display: block; float: left; height: 80px; line-height: 80px; text-align: center; width: 260px; background-color: #212121; color: #fff; font-size: 25px;}
.pro-price strong{ color: yellow}


.mytable {  
 padding: 0;  
 margin-bottom:20px; 
 width: 100%;
}  
  
.mytable th {  
 color: #4f6b72;  
 border-right: 1px solid #C1DAD7;  
 border-bottom: 1px solid #C1DAD7;  
 border-top: 1px solid #C1DAD7;  
 letter-spacing: 2px;  
 text-transform: uppercase;  
 text-align: left;  
 padding: 6px 6px 6px 12px;  
 background: #CAE8EA url(images/bg_header.jpg) no-repeat;  
 font-size: 20px;
}  
 
.mytable td {  
 border-right: 1px solid #C1DAD7;  
 border-bottom: 1px solid #C1DAD7;  
 background: #fff;  
 font-size:11px;  
 padding: 6px 6px 6px 12px;  
 color: #4f6b72;  
 width: 50%;
}  
  
.mytable td.alt {  
 background: #F5FAFA;  
 color: #797268;  
}  
.mytable td.spec {  
 border-left: 1px solid #C1DAD7;  
 border-top: 0;  
 background: #fff url(images/bullet1.gif) no-repeat;  

}  
.mytable td.specalt {  
 border-left: 1px solid #C1DAD7;  
 border-top: 0;  
 background: #f5fafa url(images/bullet2.gif) no-repeat;  
 color: #797268;  
 font-weight: 700;
 text-align: right;
}  

.mytable td.overall{
    background-color: #77A1B9; color: #fff; font-weight: 700;
}

.text-primary{ color: #428bca !important}
.statement .expand{ color: #0297B7}
.statement .txtHide{ display: none;}
.recommend-article .news_cont{ width: 660px;}
.testimonials-section h5{ margin-bottom: 0px; font-size: 1.3em;}
.recommend-article .news_cont .demo{ height: 100px}
.recommend-article .news_cont .btn_news_more{ margin-top: -20px;}