html,body{
    width: 100%;
    height: 100%;
    overflow: hidden !important;
  }
  .swiper-container{
  width: 100%;
  height: 100%;
}

.swiper-slide{
  width: 100%;
  height: 100%;
}
.footer-section{
  width: 100%;
  height: 100%;
  padding:0;
}
.train{
  padding:7em 0;
}
.ts{
  margin-top: 70px;
}
.testimonials-grids{
  margin-top: 1em;
}
.footer-section{
  padding-top: 23%;
}
.swiper-slide4{
  position: relative;
}
.copy-section{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.banner-section{
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
}
.copy-section{
  width: 100%;
  height: 100%;
}
.copy-section .container{
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -36px;
}


.table-display{ height: 100%; display: table; width: 1175px; margin: auto;}
.table-cell-display{ display: table-cell;; vertical-align: middle;}



